target
/.openshift/*
!/.openshift/markers/
!/.openshift/config/

/.openshift/config/*
!/.openshift/config/standalone.xml

/essc.log
/src/main/java/org/jboss/essc/web/pages/user/UserOrSessionOrCookieModel.java

